/output/
/coocox_stm32_tft/Debug/*
#################
## CooCox
#################
*.cogui
*.comarker
# Object files
*.o
*.ko
*.obj
*.elf
*.o.cmd
*.ko.cmd
modules.order
*.mod
*.mod.c
hw_app/getopt_long
